

body {
    padding-left:5vw;
    padding-right:5vw;
}
/* UN VERDE #195909 */
/** EL HEADER **/
header>div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;

    
}

@media print{
    header>div{
        margin-top: 0;
        margin-bottom: 1vh;
    }
}

header > div > p {
    font-family:"Montserrat";
    font-size:7vw;
    margin-left:3vw;
    margin-right:3vw;
    color:#090959;
}
header > div > img {
    width:23vw;
    border-color:#090959;
    border-style:dashed;
    border-width:3px;
}
header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

/**LAS TABLAS DEL PRINCIPIO**/
tr>td{
    font-family:"Sanchez";
    vertical-align: text-top;
    padding-top: 4px;
    padding-bottom: 4px;
}
@media screen {
    tr>td {
        font-size:20pt;
    }
}

@media screen and (orientation:landscape),  print{
    #conTablas {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #conTablas > table {
        width:45%;
    }
}

@media screen and (orientation:portrait){
    #conTablas {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #conTablas > table {
        width:100%;
    }
    tr>td {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

tr>td:first-child{
    text-align: right;
    padding-right:10px;
    font-weight: bold;
    width:30%;
    color:#090959;
}

tr>td:last-child{
    text-align: left;
    width:70%;
}

/** EL TEXTO **/

p, h1, h2, ul {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

ul{
    padding-left:2vw;
}

h1{
    font-size:1.5em;
}

h2{
    font-size:1.2em;
}


#conContenido {
    position:relative;
    display:flex;
    flex-direction: column;
}

@media (orientation:landscape){
    #conContenido {
        margin-right: auto; margin-left: auto; max-width: 800px;
    }
}

#conContenido p{
    font-family:"Merriweather";
    text-align: justify;
    margin-left:7vw;
}

#conContenido h2{
    /*font-family:"Merriweather";*/
    font-family:"Merriweather";
    font-weight: bold;
    margin-left:5vw;
}

#conContenido h1{
    /*font-family:"Montserrat";*/
    font-family:"Merriweather";
    font-weight: bolder;
}

#conContenido li{
    list-style: square;
    font-family:"Merriweather";
    text-align: justify;
    margin-left:7vw;
}


/** DIBUJITO DE LOS TÃTULOS **/

#conContenido h1{
    color:#090959;
}
.titleSpan {
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.titleSpan svg{
    height:1.5em;
    margin-left:1vw;
    margin-right:1vw;
}

.titleSpan line {
    stroke:#090959;
}

.titleSpan > svg:last-child{
    flex-grow: 1;
}